<div id="productos">
    <div>
        <a href="/manzanas">Manzanas</a>
        <a href="/peras">Peras</a>
        <a href="/bananas">Banans</a>
        <div class="container" *ngIf="this.currentUrl==='/manzanas'">
            <app-producto></app-producto>
        </div>
        <div class="container" *ngIf="this.currentUrl==='/peras'">
            <app-peras></app-peras>
        </div>
        <div class="container" *ngIf="this.currentUrl==='/bananas'">
            <app-bananas></app-bananas>
        </div>
    </div>
    <div class='ordenar'>
        <p>Ordenar:</p>
        <select id="combo">
            <option value="menorPrecio">Menor Precio</option>
            <option value="mayorPrecio">Mayor Precio</option>
            <option value="Facherosidad">Facherosidad 😎</option>
        </select>
    </div>
</div>
